body {
    padding-top: 56px;
    background-color: #f8f9fa;
  }
  
  .navbar {
    background-color: #17a2b8;
  }
  
  .jumbotron {
    background-color: #f8f9fa;
  }
  
  .card-deck {
    margin-bottom: 30px;
  }
  
  .img-fluid {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  .display-4{
    margin-bottom: 20px;
  }
  #contact {
    background-color: #343a40;
    color: #ffffff;
  }
  
  #footer {
    background-color: #17a2b8;
    color: #ffffff;
    padding: 20px 0;
  }
  